{% extends 'Recursos/recursos.html' %}
{% load static %}

{% block recurso %}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <h1>Lista de Profesores</h1>
        <a href="{% url 'Crear_Profesores' %}" class="btn btn-success">Agregar Profesor</a>
    </div>

    {% if profesores %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Asignatura</th>
                    <th>Tipo</th>
                    {% if is_admin %}
                        <th>Creador</th>  <!-- Columna adicional para Administradores -->
                    {% endif %}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for profesor in profesores %}
                <tr>
                    <td>{{ profesor.nombre }}</td>
                    <td>{{ profesor.asignatura }}</td>
                    <td>{{ profesor.tipo }}</td>

                    {% if is_admin %}
                        <td>{{ profesor.creador.username }}</td>  <!-- Mostrar el creador solo para Administradores -->
                    {% endif %}
                    
                    <td>
                        <!-- Verificar si el usuario es el creador antes de mostrar los botones -->
                        {% if is_admin or profesor.creador == request.user %}
                        <a href="{% url 'Editar_Profesores' profesor.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'Quitar_Profesores' profesor.id %}" class="btn btn-danger">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            No hay profesores disponibles.
        </div>
    {% endif %}
</div>

{% endblock %}