{% extends 'Recursos/recursos.html' %}
{% load static %}

{% block recurso %}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <h1>Lista de Balances</h1>
        <a href="{% url 'Crear_Balances' %}" class="btn btn-success">Agregar Balance</a>
    </div>

    {% if balances %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Número de Semana</th>
                    <th>Día de Inicio</th>
                    <th>Día de Fin</th>
                    {% if is_admin %}
                        <th>Creador</th>  <!-- Columna adicional para Administradores -->
                    {% endif %}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for balance in balances %}
                <tr>
                    <td>{{ balance.numero_semana }}</td>
                    <td>{{ balance.dia_inicio|date:"d M Y" }}</td>  <!-- Formatear la fecha -->
                    <td>{{ balance.dia_fin|date:"d M Y" }}</td>      <!-- Formatear la fecha -->

                    {% if is_admin %}
                        <td>{{ balance.creador.username }}</td>  <!-- Mostrar el creador solo para Administradores -->
                    {% endif %}
                    
                    <td>
                        <!-- Los botones de acción solo se muestran si el usuario es el creador -->
                        {% if is_admin or balance.creador == request.user %}
                        <a href="{% url 'Editar_Balances' balance.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'Quitar_Balances' balance.id %}" class="btn btn-danger">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            No hay balances disponibles.
        </div>
    {% endif %}
</div>

{% endblock %}